.idea
EarBuds/.idea
CMakeLists.txt
cmake-build-debug
*.o
*.d
*.log
*.dkcs
*.elf
*.sym
*.kcs
*.kmap
*.lst
*_db.h
lib*.a
*.x2p.user
*.log
flags.compile
apps/installed_libs
.elf
*.elf.*
EarBuds/audio/kalimba/kymera/tools/KCSMaker/out/*
flags.assemble
flags.libs
flags.link
flags.preprocess
flags.strip
depend
output_bundles
*.x2p.user
*.bak
G722Codec.settings
*G722Codec.cfgc
*G722Codec.bdlc
EarBuds/apps/applications/earbud/qcc512x_rom_v21/CF376_CG814/sed*
sedrflRmE
EarBuds/audio/kalimba/kymera/capabilities/basic_passthrough/makefile
EarBuds/apps/applications/earbud/qcc512x_rom_v21/common/deploy_deploy.lst
EarBuds/audio/kalimba/kymera/tools/KCSMaker/bundle/config/capabilities.cfgc
EarBuds/audio/kalimba/kymera/tools/KCSMaker/bundle/download_passthrough.bdlc
EarBuds/audio/kalimba/kymera/tools/KCSMaker/download_passthrough.settings
EarBuds/apps/applications/earbud/qcc512x_rom_v21/CF376_CG814/flash_image.xuv
EarBuds/audio/kalimba/kymera/tools/KCSMaker/*.pyc

*.pyc
*autosave
EarBuds*/apps/applications/earbud/chains/chain*.c
EarBuds*/apps/applications/earbud/chains/chain*.h
*build_id_str.c
*hfp_parse.c
*hfp_parse.h
*av_headset_db.c
*1_button.c
*1_button.h
EarBuds*/apps/applications/earbud/qcc512x_rom_v21/CF376_CG814/earbud.debug.mak
EarBuds*/apps/applications/earbud/qcc512x_rom_v21/CF376_CG814/flags.configuration
EarBuds*/audio/kalimba/kymera/tools/KCSMaker/out/
EarBuds*/apps/applications/earbud/qcc512x_rom_v21/CF376_CG814/sed*
EarBuds*/apps/installed_libs/include/profiles/default_qcc512x_rom_v21/*
EarBuds*/apps/applications/earbud/qcc512x_rom_v21/CF376_CG814/*.xuv
EarBuds*/apps/applications/earbud/qcc512x_rom_v21/common/*.xuv

!EarBuds*/apps/installed_libs/include/profiles/default_qcc512x_rom_v21/broadcast_packetiser.h
!EarBuds*/apps/installed_libs/include/profiles/default_qcc512x_rom_v21/cryptoalgo.h
!EarBuds*/apps/installed_libs/include/profiles/default_qcc512x_rom_v21/erasure_coding.h
!EarBuds*/apps/installed_libs/include/profiles/default_qcc512x_rom_v21/sport_health_algorithms.h
!EarBuds*/apps/installed_libs/include/profiles/default_qcc512x_rom_v21/gaia.h
!Earbuds*/audio/kalimba_ROM_5951/kymera/output/stre_rom_v21_release/build/debugbin/*

!Earbuds*/audio/kalimba_ROM_5951/kymera/prebuilt_dkcs/stre_rom_v21_release/download_*.elf
